<div class="container-login100" style="background-color: #262626; padding: 30px;">
    <div class="wrap-login100">
        <div class="container ">
            <p style=" color: #80d8ff; font-family: 'Syne Mono', monospace; text-align: center; padding: 20px;">
                <!--<img src="assets/img/IoT.ico" width="80" alt="" loading="lazy">-->
                <img src="assets/img/startup.svg" width="45" alt="" loading="lazy">IoT:UCO
            </p>
            <router-outlet></router-outlet> 
        </div>
    </div>

  </div>

  
  

