
  
/* You can add global styles to this file, and also import other style files */

.main-container{
    margin-top: 20px;
}


/*Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  .center-text{
    text-align: center;
  }

  .margin-section{
    padding-top: 20px;
  }

  /*Margen de la parte infeerior */

  body{
    padding-bottom: 50px;
  }

  .center{
    display: block;
    margin: 0 auto;
  }

  .colorNavbar{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }
  
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #80d8ff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #00e17b;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00e17b;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #00e17b;
  }

 

  .navbar {
    background-color: var(--white-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px;
}

  .nav-link { color: var(--dark-color); }
  .nav-link:hover { color: var(--dark-color); }

  .navbar-toggler { font-size: 40px; }
  .navbar-toggler:focus { outline: none; }

  .espaciado{
    padding: 30px;
  }

  th{
    font-size: 150%;
  }
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  
  .wrap-login100 {
    width: 500px;
    background: #212121;
    border-radius: 10px;
    overflow: hidden;
  }

  .colorPrimario {
    color: #80d8ff;
  }

  .colorSecundario {
    color: #00e17b;
  }
  

  