<div >
    <div class="container">
      <h1  style=" font-family: 'Syne Mono', monospace; ; text-align: center; color: #ffffff;">¡UPS! </h1>
      <p  class="forgot text-muted" style=" font-family: 'Syne Mono', monospace; text-align: center; padding: 20px;"><small>Algo ocurrió. Al parecer no tienes los permisos sufientes para realizar esta acción. Le sugerimos contactar al administrador, pero lastimosamente no contamos con uno. </small> <strong>F</strong> 
      </p>
      <div style="padding: 20px;">
        <p style="text-align: center;"><img src="../../../../assets/img/1.svg" width="100" alt="" loading="lazy" ></p>
      </div>
      <p class="forgot text-muted" style=" font-family: 'Syne Mono', monospace; text-align: center;"> 
        <small>¿Ya tienes una cuenta?  
            <a routerLink="/auth/login" style=" color: #80d8ff;">Ingresa
            </a>
        </small>
    </p>
      </div>
  </div>
  